@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens-animais-peconhentos/serpente-bck.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header {
    background-image: radial-gradient( rgb(111, 204, 111), rgb(85, 158, 85));
    width: 100%;
    padding-top: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.545);

}

.material-symbols-outlined>p {
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2em;
    transition: 0.3s;
}

.material-symbols-outlined>p:hover {
    cursor: pointer;
    transform: scale(1.05);
}



header>h1 {
    text-align: center;
    font-size: 2.5em;
    color: rgba(42, 42, 42, 0.76);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.657);
    font-family: "Domine", serif;
    padding: 20px;
}

header>nav {
    background-color: rgb(85, 158, 85);
    padding: 10px;

    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav>input {
    text-decoration: none;
    text-align: center;

    color: white;
    font-weight: bolder;
    font-size: 1.1em;

    flex-basis: 20%;
    padding: 15px;

    background-color: rgb(93, 183, 93);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.266);
    transition-duration: 0.5s;
}

nav>input:hover, nav>input:focus {
    cursor: pointer;
    background-color: rgb(83, 165, 83);
    transform: scale(1.05);
}

main {
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;

    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    background-color: rgba(0, 0, 0, 0.422);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.36);
}

div.Imagem {
    width: 40%;
    padding: 0px 0px 0px;
    margin: 15px 50px 0px 0px;

    border-radius: 8px;

    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.411);
    transition: 0.3s;
}

div.Imagem:hover {
    transform: scale(1.05);
}

div.Imagem>img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
    margin-bottom: -5px;
    border-radius: 8px;
    border: 5px solid green;
}

div.Animais {
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: aparecer;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes aparecer {
    from {
        transform: translateX(100px);
        opacity: 0%;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
    }
}

div.Animais:not(div#inicio) {
    display: none;
}

div.conteudo {
    width: 60%;
    padding: 20px 20px 20px 10px;
}

div.conteudo>h2 {
    padding: 10px;
    margin-bottom: 10px;

    background-image: linear-gradient(to right, rgb(101, 184, 101), transparent);
    width: 50%;
    border-radius: 8px;
}

div.conteudo>ul {
    list-style: none;
}

p {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: justify;
    line-height: 25px;
}

p>span::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;

    border-radius: 50%;
    margin-right: 10px;
}

button {
    background-color: rgb(93, 183, 93);
    color: white;
    font-weight: bold;
    font-size: 1.1em;

    border: 2px rgba(0, 128, 0, 0.464) solid;
    border-radius: 10px;

    padding: 12px;
    margin-right: 18px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.365);

    transition-duration: 0.5s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(84, 166, 84);
}

@media screen and (max-width: 760px) {
    main {
        width: 70%;
        flex-flow: column wrap;
        margin: auto;
    }

    div.Imagem {
        width: 100%;
        min-width: 300px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }

    div.Animais {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
    }

    div.conteudo {
        padding: 0px;
        margin: auto;
        width: 100%;
    }
}